@font-face {
  font-family: "SansSofiaRegular";
  src: url(./Fonts/SofiaSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SomeTypeMonoRegular";
  src: url(./Fonts/SometypeMono-Regular.ttf) format("truetype");
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background-image: url("/public/Images/about-me/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Header*/
.header {
  display: flex;
  height: 5vh;
  transform: translateZ(0);
  justify-content: space-around;
  background-color: #fff7ea;
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: center;
  position: sticky;
  top: 10px;
  z-index: 5;
}

h2 {
  font-family: "SansSofiaRegular";
  font-size: 1.6vw;
}
.header-button-container {
  display: flex;
  justify-content: center;
}

.header-button-container button {
  background-color: transparent;
  border: none;
  font-family: "SomeTypeMonoRegular";
  margin: 10px;
  font-size: 0.7vw;
}
.header-button-container button {
  position: relative;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.header-button-container button.selected::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  border: 2px solid black;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/*Personal Container*/
@keyframes pan-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes pan-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about-me {
  margin: auto;
  margin-top: 10px;
  justify-self: center;
  width: 95%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

.about-me-section {
  position: relative;
  display: flex;
  width: 80%;
  height: 30vh;
  margin: auto;
  border-radius: 50px;
  background-color: #fff7ea;
  overflow: hidden;
}
.about-me-background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Double the width to fit two images side by side */
  height: 100%;
  animation: pan-right 100s linear infinite;
}
.pan-image {
  width: 50%; /* Each image takes up half the container */
  object-fit: cover;
}
.second {
  transform: scalex(-1);
  background-color: rebeccapurple;
}
.about-me-background.faster {
  animation: pan-right 50s linear infinite;
  background-color: red;
}

.panel-image-container-landscape {
  height: 95%;
  width: 40%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  align-items: center;
  display: flex;
  margin: auto;
}

.panel-image-container-portrait {
  width: 20%;
  height: 90%;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  align-items: center;
  display: flex;
  margin: auto;
}

.panel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  border-radius: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 247, 234, 0.8);
  z-index: 2;
}
.about-me-text-container {
  width: 50%;
  display: flex;
}
.text {
  position: relative;
  color: 334139;
  z-index: 3;
  text-align: left;
  margin-top: 60px;
  margin-left: 50px;
  overflow-y: scroll;
}

.text p {
  margin: 0;
  font-size: 1em;
  font-family: "SomeTypeMonoRegular";
  overflow-y: scroll;
}
h1 {
  margin: 0;
  font-family: "SomeTypeMonoRegular";
  font-size: 254%;
}

/*Projects*/
.projects {
  width: 95%;
  height: 90vh;
  min-width: 54vh;
  min-height: auto;
  margin: auto;
  margin-top: 50px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.projects h1 {
  margin: auto;
}

.project-container {
  display: flex;
  height: 90%;
  width: 100%;
  position: relative;
  transition: all 0.3 ease;
  overflow: hidden;
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 85%;
  margin: 15px;
}
.project-container.selected .box {
  flex: 1 1 0;
  opacity: 0;
  transition: flex 0.5s ease, opacity 0.3s ease;
}
.project-container.selected .box.expanded {
  flex: 1 0 100%;
  opacity: 1;
  cursor: default;
}

.title-box {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: "SansSofiaRegular";
  font-size: 3cap;
  text-align: center;
}

.title-box span {
  text-align: center;
  align-self: center;
  transform: width 0.3s ease;
}
.project-description {
  /* overflow: hidden; */
  margin: 5px;
}
.project-info p {
  text-align: center;
  line-height: 1.8vw;
  font-size: 1vw;
  padding-left: 50px;
  padding-right: 50px;
  animation: fadeIn 1.4s ease-in-out;
}

.learn-more {
  align-self: flex-end;
  font-size: x-large;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.learn-more:hover {
  transform: scale(1.1);
}
.box {
  height: 100%;
  width: 100%;
  background-color: gray;
  border-color: #0056b3;
  outline-color: #0056b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(25% - 16px); /* Four items per row */
  transition: flex 0.3s ease, opacity 0.3s ease;
  transition: width 0.3s ease;
  .box.expanded {
    flex: 1 0 100%;
    opacity: 1;
    cursor: default;
  }
}
.box:hover {
  cursor: pointer;
  width: 115%;
  /* background-color: red; */
}

.logo-container {
  height: 10%;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  transition: transform 5s ease;
  aspect-ratio: 3/2;
}

.logo.min {
  width: 80%;
}
.logo.max {
  width: 18vh;
}

.jamz {
  background: linear-gradient(rgba(174, 118, 166, 1), rgba(174, 118, 166, 0.8)),
    url("/public/Images/jamz/JamsLanding.png") no-repeat center center;
  background-size: cover;
}
.jamz .logo {
  background-image: url("/public/Images/Spotify\ Jamz.png");
}
.jamz.max {
  width: 80vh;
}
.arcana {
  background: linear-gradient(rgba(53, 94, 147, 0.8), rgba(53, 94, 147, 0.7)),
    url("/public/Images/arcana/arcana-main-page.png") no-repeat center center;
  background-size: cover;
}

.arcana .logo {
  background-image: url("/public/Images/arcana_logo.png");
}
.uwc {
  background: linear-gradient(rgba(148, 197, 204, 1), rgba(148, 197, 204, 0.6)),
    url("/public/Images/uwc/uwc_site.png") no-repeat center center;
  background-size: cover;
}
.uwc .logo {
  background-image: url("/public/Images/uwc_logo.png");
}

.fithub {
  background: linear-gradient(rgba(40, 151, 225, 1), rgba(53, 94, 147, 0.8)),
    url("/public/Images/fithub/fithub_site.png") no-repeat center center;
  background-size: cover;
}
.fithub .logo {
  background-image: url("/public/Images//FitHub.png");
}

/*Project*/
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: gray;
}
.project {
  background: linear-gradient(rgba(40, 151, 225, 0.8), rgba(53, 94, 147, 0.8)),
    url("/public/Images/fithub/fithub_site.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.close-project {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 2%;
  height: 2%;
  background-image: url("/public/Images/x.png");
}
.selected-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}
.information {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  margin: 10px;
  height: 100%;
  width: 50%;
}

.description {
  height: 50%;
}
.purpose {
  height: 100%;
}
.purpose .info-box {
  height: 91%;
}
.background-info {
  height: 50%;
}
.descriptions h3 {
  font-family: "Monomaniac One", sans-serif;
  font-size: 2.3vw;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}
.info-box {
  height: 80%;
  overflow: scroll;
}
.descriptions p {
  line-height: 2vw;
  font-size: 1.3vw;
  max-height: 100%;

  padding-right: 50px;
  animation: fadeIn 1.4s ease-in-out;
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
}
.images {
  animation: fadeIn 1.4s ease-in-out;
  justify-content: center;
}
.information .left-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 13%;
}
.information .right-section {
  width: 50%;
}
.selected-container button {
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.5;
}
.selected-container button:hover {
  opacity: 1;
}
.next-button {
  position: absolute;
  right: 1px;
  top: 45%;
  width: 6%;
  height: 15%;
  background-image: url("/public/Images/right-outline.png");
}
.prev-button {
  position: absolute;
  left: 1px;
  top: 45%;
  width: 6%;
  height: 15%;
  background-image: url("/public/Images/left-outline.png");
}

/*Resume*/
.resume {
  width: 78%;
  height: auto;
  background-color: #fff7ea;
  margin: auto;
  margin-top: 50px;
  justify-self: center;

  display: flex;
  flex-direction: column;
}
iframe {
  /* align-self: center; */
  /* margin: auto; */
  height: 120vh;
  padding: 10px;
  zoom: 1;
}

/*Contact Me*/
.contact-me {
  width: 78%;
  height: auto;
  background-color: #fff7ea;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  margin: 10px;
}

.contact-me label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-me input[type="text"],
.contact-me input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contact-me textarea {
  width: 100%;
  height: 20vh;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-me input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-me input[type="submit"]:hover {
  background-color: #0056b3;
}

/*Notification*/
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 20%;
  height: 5%;

  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  align-items: center;
  justify-content: center;
}

.notification-message {
  font-size: 16px;
  color: #333;
  font-size: x-large;
}

.notification-timer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #3498db;
  width: 100%;
  animation: shrinkWidth 0.3s linear forwards;
}

.notification-close {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
  transition: color 0.1s ease;
}

.notification-close:hover {
  color: #555;
}

/*Image Gallery */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 90%;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.imageWrapper {
  background-color: #e6e6e6;
  height: auto;
  width: 92%;
  max-width: 92%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.image-container {
  height: 74%;
  width: auto;
  max-width: 95%;
  margin-top: 1%;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: zoom-in;
}
.fullscreen-image.zoomed {
  transform: scale(2);
  cursor: zoom-out;
}
.image-description .description {
  margin-top: 10px;
  font-size: 0.7vw;
  text-align: center;
  font-family: monospace;
}
.image-description {
  height: 5%;
  padding: 2%;
}
.image-selection {
  display: flex;
  width: 70%;
  height: 15%;
  justify-content: center;
  justify-content: space-between;
}
.image-selection button {
  width: 12%;
  height: 43%;
  position: relative;
  margin: 10px;
  padding: 20px;
  top: 30%;
}

.thumbnailContainer {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  width: 40vh;
  height: 90%;
  overflow-x: auto;
}

.thumbnail {
  width: 12vh;
  height: 8vh;
  gap: 10px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail.selected {
  border-color: #000;
}

.current-image-container {
  background-color: gray;
  height: 60%;
  width: 80%;
}
